{% extends 'mybase.html' %}

<!--{% block head_css %}-->
<!--    {{ super() }}-->
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}"></link>-->
<!--{% endblock %}-->

{% block head_js %}
<!--    {{ super() }}-->
<!--    <script defer src="{{url_for('static',filename='js/app.js')}}"></script>-->
{% endblock %}
<!--{% block js %}-->
<!--    <script type="text/javascript">-->
<!--        {% include "/static/app/app.js" %}-->
<!--    </script>-->
<!--    &lt;!&ndash; The contents of myscript.js will be loaded inside the script tag &ndash;&gt;-->
<!--{% endblock %}-->

{% block tail_js %}
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    <script src="{{url_for('appbuilder.static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('appbuilder.static',filename='datepicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{url_for('appbuilder.static',filename='select2/select2.js')}}"></script>
    <script src="{{url_for('appbuilder.static',filename='js/ab.js')}}"></script>
{% endblock %}





